html {
  font-family: Arial, Helvetica, sans-serif;
}

/*.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #353535;
  position: sticky;
  top: 1rem;
  cursor: pointer;
}*/

section {
  border-bottom: #000 1px solid;
}

main section h2 {
  text-align: center;
  background-color: rgb(255, 165, 0);

}

fieldset {
  border-radius: 15px;
  width: fit-content;
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.exemplo {
  width: max-content;
  border: #000 1px solid;
}

code {
  background: rgb(200, 200, 200);
}

#first-letter li {
  margin: 1.5% 0;
}

#color-letter::first-letter {
  color: rgb(255, 165, 0);
}

#background-letter::first-letter {
  color: rgb(255, 165, 0);
  background: #000;
}

#margin-letter::first-letter {
  color: rgb(255, 165, 0);
  background: #000;
  margin: 0 1%;
}

#padding-letter::first-letter {
  color: rgb(255, 165, 0);
  background: #000;
  margin: 0 1%;
  padding: 5px;
}

#border-letter::first-letter {
  color: rgb(255, 165, 0);
  background: #000;
  margin: 0 1%;
  padding: 5px;
  border: 3px solid rgb(255, 165, 0);
}

#font-letter::first-letter {
  color: rgb(255, 165, 0);
  background: #000;
  margin: 0 1%;
  padding: 5px;
  border: 3px solid rgb(255, 165, 0);
  font-weight: 800;
  text-transform: uppercase;
}

#color-line, #first-line-p::first-line {
  color: rgb(255, 165, 0);
}

#background-line, #first-line-p::first-line {
  color: rgb(255, 165, 0);
  background: #000;
}

#font-line, #first-line-p::first-line {
  color: rgb(255, 165, 0);
  background: #000;
  text-transform: uppercase;
  font-weight: 900;
}

summary::marker {
  content: "⏩";
}

#marker li::marker {
  content: "➜";
  color: rgb(255, 165, 0);
}

#placeholder input::placeholder {
  color: rgb(255, 165, 0);
  font-style: italic;
  background-color: #f1f1f1;
  text-align: center;
}

#fs-s {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

::selection {
  color: #FFF;
  background-color: rgb(255, 165, 0);
}

#fs-s ::selection {
  color: #FFF;
  background-color: #000;
  text-decoration: line-through;
}

input::file-selector-button {
  border: 2px solid rgb(255, 165, 0);
  border-radius: 5px;
  font-weight: 700;
  background-color: #000;
  color: #FFF;
  padding: 2%;
  cursor: pointer;
}

#exemplo-before p span::before {
  content: "₿";
  color: #FFF;
  background-color: rgb(255, 165, 0);
  font-weight: 900;
  padding: 0 2%;
  border-radius: 100%;
  font-family: 'Courier New', Courier, monospace;
  transform: rotate(deg)
}

#exemplo-before p span::after {
  content: "₿";
  color: rgb(255, 165, 0);
  background-color: #000;
  font-weight: 900;
  padding: 0 2%;
  border-radius: 100%;
  font-family: 'Courier New', Courier, monospace;
  transform: rotate(deg)
}

#card-image {
  margin-bottom: 1rem;
}

.card-image {
  width: 38.75rem;
  height: 28.75rem;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: url("https://cdn.dribbble.com/users/87334/screenshots/15263338/media/324d96989f199eb24ba283aaa96625fb.jpg") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.card-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgb(230, 150, 0));
}

#ex-hover, #ex-active, #ex-focus, #ex-target,
#ex-en-dis, #ex-check, #ex-last-child-type, 
#only-child, #only-type, #empty, #post, #is, #not {
  display: block;
}

#ex-hover button:hover {
  background-color: #000;
  border: 2px solid #FFF;
  color: #FFF;
  cursor: pointer;
  border-radius: 3px;
}

.container-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 165, 0);
}

.container-hover:hover {
  background-color: #000;
}

.container-hover:hover button {
  background-color: rgb(255, 165, 0);
  color: #FFF;
  font-weight: 500;
  border-radius: 5px;
}

#ex-active button:active {
  background-color: rgb(255, 165, 0);
  border-radius: 3px;
  border: 2px solid #a1a1a1;
}

#ex-active a:active {
  color: rgb(255, 165, 0);
  background-color: #000;
}

#ex-active legend:active {
  background-color: rgb(255, 165, 0);
}

#ex-focus input:focus {
  outline: 1px solid rgb(255, 165, 0);
  outline-offset: 2px;
  outline-style: dashed;
}

#ex-focus label:focus-within {
  font-weight: 900;
  background-color: rgb(255, 165, 0);
}

#ex-target p:target {
  background-color: rgb(255, 165, 0);
}

#ex-target p:target::before {
  content: "⏩";
}

#ex-en-dis button:disabled {
  font-style: italic;
}

a:visited {
  color: rgb(255, 165, 0);
}

#ex-phs input:placeholder-shown {
  border-color: rgb(255, 165, 0);
}

#ex-check input {
  accent-color: #000;
}

#ex-check input[type="checkbox"]:checked/*, #ex-check input:checked + label*/ {
  box-shadow: 0 0 5px 2px rgb(255, 165, 0);
}

#ex-check input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

#ex-check input[type="radio"]:checked + label {
  color: rgb(255, 165, 0);
  font-style: italic;
}

#ex-check option:checked {
  color: rgb(255, 165, 0);
  font-weight: bold;
}

progress:indeterminate {
  accent-color: rgb(255, 165, 0);
}

#ex-form label, #ex-form button, 
#ex-form1 label, #ex-form1 button,
#ex-login label, #ex-login button {
  display: block;
  margin: 6px 0;
}

#ex-form input, #ex-form1 input, #ex-login input {
  padding: 4px 14px;
  margin: 4px 0;
}

#ex-form, #ex-form1, #ex-login {
  border: 1px solid #a1a1a1;
  border-radius: 4px;
  width: 300px;
  padding: 40px;
  margin: auto;
  background-color: rgb(245, 245, 245);
}

#ex-form h3, #ex-form1 h3, #ex-login h3{
  margin: 0;
}

#ex-form input:valid {
  border: 1px solid #5af500ce;
  color: #5af500ce;
}

#ex-form input:invalid, #ex-form input:invalid + span {
  border: 1px solid #ffa500;
  color: #ffa500;
}

#ex-form input:in-range {
  background-color: #bbfc95ce;
}

#ex-form input:out-of-range {
  background-color: #ffb499;
}

.error {
  color: orangered;
  font-size: 0.75rem;
  display: none;
}

#ex-form input:invalid + .error {
  border: none;
  display: block;
}

#ex-form1 input:required {
  border-radius: 3px;
  border: 1px solid #fcb317;
  box-shadow: 0 0 5px 0 #fcb317;
}

#ex-form1 input:optional {
  border-radius: 3px;
  border: 1px solid #58fc17;
  box-shadow: 0 0 5px 0 #58fc17;
}

#ex-login input:-webkit-autofill {
  border: 2px solid #ffa500;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

th, td {
  padding: 1rem;
}

td + td, 
th + th {
  text-align: right;
}

#nth article :nth-child(2) {
  color: #58fc17;
}

#nth article p:nth-of-type(2) {
  color: #ffa500;
}

.listas li:nth-child(2) {
  color: #ffa500;
}

#lista-1 li:nth-child(4) {
  color: #58fc17;
}

.listas li:nth-child(even) {
  color: #ffa500;
}

.listas li:nth-child(odd) {
  background-color: #ffa500;
}

tr:nth-child(even) td {
  background-color: #58fc17;
}

#lista-3 li:nth-child(3n) {
  color: #58fc17;
}

#lista-4 li:nth-child(3n+1) {
  color: #58fc17;
}

#ex-of-type :first-of-type {
  color: #ffa500;
}

#ex-of-type p:last-of-type {
  color: #a1a1a1;
}

#ex-last-child-type li:nth-last-child(2) {
  color: #58fc17;
  font-weight: bold;
}

#ex-last-child-type dd:nth-last-of-type(2) {
  color: #58fc17;
  font-weight: bold;
}

#only-child li:only-child {
  color: #58fc17;
}

#only-type :only-of-type {
  color: #58fc17;
}

#empty div {
  height: 1rem;
  background-color: #58fc17;
}

#elemento-content::before {
  content: "!!!!!";
}

#empty div:empty {
  border: 2px solid #ffa500;
}

.post :is(h2, li, .colored) {
  color: #ffa500;
  background-color: transparent;
}

:is(#is section, #is article, #is aside, #is nav) p {
  background-color: #58fc17;
  font-weight: bold;
}

.posts p:not(.irrelevante) {
  background-color: #58fc17;
}

#not li:not(:first-child, :last-child) {
  font-weight: bold;
}

#not img:not([alt]) {
  box-shadow: 0 0 5px 2px #ffa500;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image img {
  width: 10rem;
  border-radius: 5px 5px 0 0;
}

.gallery figure:has(figcaption) {
  box-shadow: 0 0 5px 2px #a1a1a1;
  border-radius: 5px;
  text-align: center ;
}

figcaption {
  font-size: 0.75rem;
}

.box-t {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff651e 0%, #00ffe5 100%);
}

.box-t:hover {
  transform: translate(50px, -30px);
}

.box-r {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  background: linear-gradient(90deg, #ff651e 0%, #00ffe5 100%);
}

.box-r:hover {
  transform: rotate(50deg);
}