body {
  background: #000;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #FFF 1px solid;
}

#buttons {
  display: flex;
  flex-direction: column;
}

div {
  margin: 5rem 0;
}

#container-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  background-color: #d53;
  padding: 20px;
  border-radius: .5rem;
  box-shadow: 0 0 10px 0 #d0d0d0;
}

.list input {
  accent-color: #d0d0d0;
}

.list li {
  list-style: none;
  color: #FFF;
  font-weight: bold;
  padding: 0.75rem 2rem;
  transition: .5s;
}

.list li:hover {
  background-color: #bd482b;
  border-radius: .5rem;
}

.list input:checked + span {
  text-decoration: line-through;
  color: #d0d0d0;
}

.list li:has(input:checked) {
  background-color: #000;
  border-radius: .5rem;
  padding: .5rem;
}

.box {
  width: 10rem;
  height: 10rem;
  border-radius: .5rem;
  background: #d53;
}

.box:hover {
  animation: change-background 1s infinite 3s;
  animation-direction: alternate-reverse;
}

.box-1 {
  width: 10rem;
  height: 10rem;
  border-radius: .5rem;
  background: #d53;
  animation: change-background-1 1s 1 1s;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

.box-1:hover {
  animation-play-state: paused;
}

@keyframes change-background {
  0% {
    background: #d53;
    transform: scale(1);
  }
  50% {
    background: #5900ff;
    transform: scale(1.5);
  }
  100% {
    background: #d53;
    transform: scale(1);
  }
}

@keyframes change-background-1 {
  0% {
    background: #71dd33;
    transform: scale(1);
  }
  50% {
    background: #5900ff;
    transform: scale(1.5);
  }
  100% {
    background: rgb(221, 51, 136);
    transform: scale(1);
  }
}

button {
  padding: 0.75rem 1.5rem;
  border: none;
  background: linear-gradient(90deg, #d53369, #daae51);
  box-shadow: .2rem .4rem .6rem #d0d0d0;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  animation: wiggle 2.2s linear infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(-10deg);
  }
  40%, 100% {
    transform: rotate(0);
  }
}

.loader {
  border: .4rem solid #d53369;
  border-radius: 50%;
  margin: .5rem;
  animation: loader .8s ease-in-out alternate infinite;
}

.loader:nth-child(1) {
  animation: loader .8s ease-in-out alternate infinite;
}
.loader:nth-child(2) {
  animation: loader .8s ease-in-out .3s alternate infinite;
}
.loader:nth-child(3) {
  animation: loader .8s ease-in-out .6s alternate infinite;
}

@keyframes loader {
  to {
    transform: scale(1.8);
  }
}
