html {
  font-family: sans-serif;
}
.topo #seta{
  display: inline-block;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  border: 5px solid #f1f1f1;
  background-image: url('https://cdn-icons-png.flaticon.com/24/130/130906.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-color: #f1f1f1;
}
code {
  background-color: #f1f1f1;
  color: orangered;
  padding: 0 3px;
}
pre {
  width: fit-content;
  background-color: #f1f1f1;
}
.aulas {
  text-decoration: none;
  font-weight: bold;
}